@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');


body {
    background-color: hsl(0, 0%, 90%);
}

.background-navbar {
    background-color: #01497c;
}


.background-color-tikets {
    background-color: #01497c;
    min-height: 200px;
    padding: 0;
    margin: 0;
}

.background-color {
    background-color: #01497c;
    min-height: 400px;
}


body {
    max-height: 1200px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: auto;
}


.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
}

    .navbar h1 {
        font-size: 30px;
    }

    .navbar ul {
        padding: 18px 0;
    }

    .navbar li {
        list-style: none;
        float: left;
        margin: 0 20px;
    }

.navbar-propertis {
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}

    .navbar-propertis:not(.navbar-logo-text):hover {
        background-color: hsl(205, 98%, 29%);
    }


.navbar-logo-text {
    text-decoration: none;
    color: white;
}





.info-panel {
    padding-top: 70px;
    text-align: center;
    margin: auto;
}

    .info-panel h1 {
        color: white;
        margin-bottom: 80px;
    }


.input-panel input, select {
    text-decoration: none;
    border: none;
    padding: 15px;
    font-size: 18px;
}

.bor-radius-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bor-radius-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.input-panel button {
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    width: 150px;
    border: none;
    background-color: #f35b04;
    padding: 15px;
    color: white;
    font-weight: 800;
    height: 55px;
}


    .input-panel button:hover {
        background-color: #f18701;
    }

.input-text {
    width: 130px;
    height: 24px;
}

.spad-menu {
    height: 53.5px;
}


.cbx {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    left: 50%;
}

    .cbx:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 8px;
        width: 7px;
        height: 14px;
        opacity: 0;
        transform: rotate(45deg) scale(0);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: all 0.3s ease;
        transition-delay: 0.15s;
    }

.lbl {
    color: white;
    position: relative;
    left: 50%;
    width: 150px;
    transition: width 0.3s ease;
}

#cbx:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
}

    #cbx:checked ~ .cbx:after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }

.cntr {
    margin-top: 15px;
    position: relative;
    display: flex;
}


.hidden {
    display: none;
}
